<% if ! @blogs.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), blogs_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:new), new_blog_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table">
      <thead>
        <th><%= t(:title) %></th>
        <th><%= t(:publish) %></th>
      </thead>
      <tbody>
        <% @blogs.each do |blog| %>
        <tr>
          <td><%= link_to blog.title, blog_path(blog) %></td>
          <td><%= t(blog.publish) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
    <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_blog_path %></h3>
<% end %>
